<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.adobe.flexbuilder.debug.launchConfigurationType.apollo">
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_AIR_SECURITY_POLICY_FILE" value="security-policies/default.xml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_APPLICATION" value="src/Main.mxml"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_PROJECT" value="demoNEW"/>
<stringAttribute key="com.adobe.flexbuilder.debug.ATTR_RUN_URL" value="file:/C:/Users/buck/My%20Dropbox/datacus/demoNEW/bin-debug/Main-app.xml"/>
<booleanAttribute key="com.adobe.flexbuilder.debug.ATTR_USE_DEFAULT_URLS" value="true"/>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/demoNEW"/>
<listEntry value="/demoNEW/src/Main.mxml"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="4"/>
<listEntry value="1"/>
</listAttribute>
</launchConfiguration>
