/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.label{
	background-color:none;
	background: url(../assets/button.png);
	color:#eeeeee;
	font-size:30;
	paddingBottom:4;
	paddingLeft:4;
	paddingRight:4;
	paddingTop:4;
}


.container {
	background-color: none;
}
#border{
	background-color: none;
}
#background{
	background-color: none;
}

