/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

.label{
	background-color:#CACDD7;
	color:#223355;
	paddingBottom:4;
	paddingLeft:4;
	paddingRight:4;
	paddingTop:4;
}
.main_panel{
	background-color: #000000;
}